@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@import "@mantine/core/styles.css";
@import "@mantine/carousel/styles.css";

@theme {
  --color-primary: #121212;
  --color-main: #222222;
  --color-secondary: #737b8b;
  --color-brown: #8b6a4b;

  --font-poppins: "Poppins", sans-serif;

  /* animation */
  --animate-rotation-left: rotate-left-anim 1.2s ease-in-out forwards infinite;
  --animate-rotation-right: rotate-right-anim 1.2s ease-in-out forwards infinite;
}

@layer base {
  * {
    margin: 0;
    padding: 0;
  }

  body {
    @apply font-poppins;
    scroll-behavior: smooth;
  }
}

.mantine-Carousel-indicator {
  /* transform: translateY(40px) !important; */
  width: 9px !important;
  height: 9px !important;
  transition: width 250ms ease !important;
  background: #eee6db !important;

  &[data-active] {
    width: 40px !important;
    height: 11px !important;
    background: #ccc6c1 !important;
  }
}

@keyframes rotate-left-anim {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}

@keyframes rotate-right-anim {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(-90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

a {
  text-decoration: none !important;
  color: inherit !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.animated-button {
  position: relative;
  width: 150px;
  height: 50px;
  transition: 4s;
  transform-style: preserve-3d;
  transform: perspective(1000px) rotateX(0deg);
}
.animated-button:hover {
  transform: perspective(1000px) rotateX(360deg);
}
.animated-button span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.9);
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 22px;
  letter-spacing: 2px;
  transition: 0.5s;
  border: 2px solid #000;
  box-sizing: border-box;
  box-shadow: insert 0 20px 50px rgba(0, 0, 0, 0.2);
}
.animated-button:hover span {
  color: #fff;
  background: rgba(3, 169, 244, 0.8);
}
.animated-button span:nth-child(1) {
  transform: rotateX(360deg) translateZ(25px);
}
.animated-button span:nth-child(2) {
  transform: rotateX(270deg) translateZ(25px);
}
.animated-button span:nth-child(3) {
  transform: rotateX(180deg) translateZ(25px);
}
.animated-button span:nth-child(4) {
  transform: rotateX(90deg) translateZ(25px);
}