@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@import "@mantine/core/styles.css";
@import "@mantine/carousel/styles.css";

@theme {
  --color-primary: #121212;
  --color-main: #222222;
  --color-secondary: #737b8b;
  --color-brown: #8b6a4b;

  --font-poppins: "Poppins", sans-serif;

  /* animation */
  --animate-rotation-left: rotate-left-anim 1.2s ease-in-out forwards infinite;
  --animate-rotation-right: rotate-right-anim 1.2s ease-in-out forwards infinite;
}

@layer base {
  * {
    margin: 0;
    padding: 0;
  }

  body {
    @apply font-poppins;
    scroll-behavior: smooth;
  }
}

.mantine-Carousel-indicator {
  /* transform: translateY(40px) !important; */
  width: 9px !important;
  height: 9px !important;
  transition: width 250ms ease !important;
  background: #eee6db !important;

  &[data-active] {
    width: 40px !important;
    height: 11px !important;
    background: #ccc6c1 !important;
  }
}

@keyframes rotate-left-anim {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}

@keyframes rotate-right-anim {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(-90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

a {
  text-decoration: none !important;
  color: inherit !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}